/.settings
/.project
/multimodules-core/.classpath
/multimodules-core/.project
/multimodules-core/.settings
/multimodules-web/.settings
/multimodules-web/.classpath
/multimodules-web/.project
/.idea
/multimodules-core/*.iml
/multimodules-web/multimodules-web.iml
/*.iml
